* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 1rem;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
}

h3, h4 {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
}

blockquote {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-top: 1rem;
}

header {
  display: flex;
  flex-flow: row wrap-reverse;
  background-color: #037AA5;
  margin: 0 5%;
  padding: 2%;
}

.Flex_Img {
  flex: 20%;
  margin-right: 1rem;
}

.Flex_Nav {
  flex: 70%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.Flex_Nav a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 2px;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 10px;
}

section a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Grid_Container {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

aside {
  grid-column: 1 / 1;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../images/aside.background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

aside h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 0;
}

aside img {
  height: 11rem;
  width: 11rem;
  margin: 2rem;
  border-radius: 50%;
}

.Main_Page {
  grid-column: 2 / 6;
  grid-row: 1 / 4;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-right: 2rem;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2rem;
}

.Main_Page figure {
  margin: 2.7rem 1rem;
}

.Derek {
  display: none;
  position: absolute;
  top: 30vh;
  left: 20vw;
  background-color: #1B447F;
  text-align: center;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  width: 60%;
  height: 60%;
}

.Derek h5 {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 11px;
}

.Instructor1:hover .Derek {
  display: block;
}

#Derek-Profile:focus .Derek {
  display: contents;
}

.Amy {
  display: none;
  position: absolute;
  top: 70vh;
  left: 20vw;
  background-color: #1B447F;
  text-align: center;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  width: 60%;
  height: 60%;
}

.Amy h5 {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 11px;
}

.Instructor2:hover .Amy {
  display: block;
}

.Nathan {
  display: none;
  position: absolute;
  top: 99vh;
  left: 20vw;
  background-color: #1B447F;
  text-align: center;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  width: 60%;
  height: 60%;
}

.Nathan h5 {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 11px;
}

.Instructor3:hover .Nathan {
  display: block;
}

.Lessons_Page {
  display: grid;
  margin: 1% 3%;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2rem;
}

.Lessons_Page p {
  margin: 0.4rem;
}

.Lessons_Page article {
  padding: 1rem;
}

.Loc_Page {
  margin: 1% 3%;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2rem;
}

.Loc_Page p {
  padding: 1rem;
}

.Location {
  display: grid;
  grid-gap: 0.1rem 2rem;
  justify-content: center;
}

.Location h4 {
  grid-column: 1 / 1;
  margin-bottom: 0;
}

.Address {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.Contact {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

video {
  grid-column: 1 / 1;
  margin-top: 0;
  margin-bottom: 1rem;
}

footer {
  background-color: #1B447F;
  margin: 0 5%;
  padding: 2%;
}

.Foot_Flex {
  display: flex;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2rem;
}

.Foot_Flex_Img {
  flex: 20%;
  margin-right: 1rem;
}

.Foot_Flex_Policy {
  flex: 75%;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: 1rem;
}

.Copyright {
  text-align: center;
  color: white;
  margin: 0;
}
